<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" beStrictAboutChangesToGlobalState="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="512M"/>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
  </php>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
