parameters:

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Nramos\SearchIndexer\:
    resource: '../src/**/*'
    exclude: '../src/{Entity,Migrations,Tests,Kernel.php,*.yaml}'

  Nramos\SearchIndexer\Indexer\IndexableObjects:
    arguments:
      $indexedClasses: '%nramos.search_indexes%'

  Nramos\SearchIndexer\Indexer\SearchIndexerSubscriber:
    tags:
      - { name: doctrine.event_listener, event: postPersist }
      - { name: doctrine.event_listener, event: postUpdate }
      - { name: doctrine.event_listener, event: preRemove }
